<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
   
    <title>Hexagon</title>
    <link rel="stylesheet" type="text/css" href="css/style3.css">
</head>
<body>
    <div class="open">
        <div class="layer"></div>
        <div class="layer"></div>
    <section>
        <header>
            <a href="#" class="logo">ANALISIS POSTURAS WUSHU</a>
            <ul>
                <li><a href="templates/pruebacss.html" >Home</a></li>
                <li><a href="web2.html">UIE</a></li>
                <li><a href="index3.html" class="active">NTXUCB</a></li>
                <li><a href="https://github.com/uieucb/pose-estimation-AI">Github</a></li>
            </ul>
        </header>
        <div class="bannerText">
            
            <h2> Neurotech UCB </h2>
            <!--<h3> And Make Innovations</h3>-->
            <p>Neurotech@UCB sirve como un punto de discusión sobre las nuevas 
                tecnologías utilizadas en el campo de la investigación en neurociencia. 
                Nuestra organización de estudiantes utiliza una mezcla de Realidad Mixta, Machine Learning y
                 el estudio de Bioseñales para educar a la comunidad universitaria sobre la neurotecnología. 
            </br>
                 Proyectos
            </br>
                 Entornos basados en realidad virtual para la evaluación de señales de EEG en déficits de funciones ejecutivas.</p>
          <!--<a href="#">Read More </a>-->
        </div>
        <img src="css/images/uie3.png" class="bulb">
    </section>
    

    </div>
</body>
</html>
