<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
   
    <title>Hexagon</title>
    <link rel="stylesheet" type="text/css" href="css/style3.css">
</head>
<body>
    <div class="open">
        <div class="layer"></div>
        <div class="layer"></div>
    <section>
        <div class="bannerText">
            <h2> Think Creative </h2>
            <h3> And Make Innovations</h3>
            <p>Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s,
                 when an unknown printer took a galley of type and 
                 scrambled it to make a type specimen book. It has 
                 survived not only five centuries, </p>
            <a href="#">Read More </a>
        </div>
        <img src="css/images/bulb2.jpg" class="bulb">
    </section>
    

    </div>
</body>
</html>
